Linux SRTT calculation check

The Linux TCP text currently says: SRTT is the smoothed round-trip time [[RFC6298](https://mwelzl.github.io/draft-iccrg-pacing/draft-welzl-iccrg-pacing.html#RFC6298)] [TODO check: Linux calculates SRTT different from the standard, though RFC 6298 relaxes the rules, so maybe it's ok?]

Indeed, that check should be done - if it's "not okay", there should be some text explaining how the Linux SRTT calculation works.

It's not RFC 6298 that relaxes the rules, it's [RFC 8961](https://www.rfc-editor.org/rfc/rfc8961.html).

The short version of the above:
Initially, RTT = the new sample.
Then, to update, SRTT = 7/8 * SRTT + 1/8 * RTT.

... this is the same as 2.3 in section 2 of RFC 6298, with alpha=1/8 as recommended there!